<script type="module" src="./assets/js/modaleSuppression.js"></script>
<dialog id="modaleSuppression" class="modale_suppression">
  <div class="flex_modale">
  <p>{{ message }}</p>
  <div class="actions">
    <button class="OK">Supprimer</button>
    <button class="KO focus">Annuler</button>
  </div>
  </div>
</dialog>