<script type="module" src="./assets/js/modaleSuppression.js"></script>
<dialog id="modaleSuppression">
  <p>Voulez-vous vraiment supprimer ce cellier avec tout son contenu ?</p>
  <div class="actions">
    <button class="OK">OK</button>
    <button class="KO focus">Annuler</button>
  </div>
</dialog>