

<div class="ajouter">
    <div class="nouvelleBouteille" vertical layout>
        
        <div class="form_champ_ajout">
            <label for="recherche">Recherche:</label>
            <input class="form_ajout_input" id="recherche" type="text" name="nom_bouteille" placeholder="Mouton Cadet Bordeaux" aria-label="Recherche">
        </div>

        <div class="option_alternative">
            <span>Votre bouteille ne s'y trouve pas ?
                <a href="cellier?action=e&cellier_id={{ cellier_preferentiel }}">Entrer une bouteille personnalisée.</a>
            </span>
	    </div>

        <div class="resultats" id="liste_resultats">
        </div>

        <input id="cellier_id" type="hidden" value="{{ cellier_preferentiel }}">
   
    </div>
</div>

    <script type="tmpl" id="tmpl_resultats">
      <section class="bouteille carte_bouteille [[[ bouteille_classe ]]]">
        <div class="carte_bouteille_top">
            <div class="image_bouteille">
                <img class="img_bouteille" src="[[[ image_url ]]]">
            </div>
            <div  class="texte_bouteille">
                <p class="bouteille_gros_texte">[[[ nom ]]]</p>
                <p class="bouteille_petit_texte">[[[ pays ]]] | [[[ idtype ]]] | [[[ format ]]]</p>
                <span class="bouteille_lien ajouter_cellier" data-id="[[[ id ]]]">Ajouter au cellier</span>
            </div>

        </div>
      </section>
    </script>

    {{ include("/Cellier/modaleAjout.twig") }}