<!-- Template Création de cellier -->

	<form class="form_connexion" name="frmCreationCellier" method="POST" action="cellier?action=p">
		<div class="form_champ_ajout">
		<label for="nom_cellier">Nom du cellier</label>
		<input class="form_connexion_input"  id="nom_cellier" name="nom" value="{{ cellier.nom }}" placeholder="p. ex. Cellier garage">
		<div class="error">
		<span>{{ erreurs.nom }}</span>
		</div>
		</div>
		
		<input class="btn_connexion" type="submit" value="Créer le cellier">
	</form>

<!-- fin template Création de cellier -->
