<div class="ajouter">

    <div class="nouvelleBouteille" vertical layout>
        Recherche : <input type="text" name="nom_bouteille">
        <ul class="listeAutoComplete">

        </ul>
            <div >
                <p>Nom : <span data-id="" class="nom_bouteille"></span><span class="erreur_champ erreur_nom_bouteille"></span></p>
                <p>Quantite : <input name="quantite" value="1"><span class="erreur_champ erreur_quantite"></span></p>
            </div>
            <input id="cellier_id" type="hidden" value="{{ cellier_id }}">
            <button name="ajouterBouteilleCellier">Ajouter la bouteille</button>
        </div>
    </div>
</div>
