
<form
	class="form_evaluation" name="frmEval" method="POST">

    <div class="form_champ_ajout">
    <label for="sucre">Veuillez entrer votre commentaire:</label>
    <textarea id="sucre" class="form_ajout_input" name="commentaire">
    </textarea>
    </div>

    <input class="btn_action" type="submit" value="Envoyer">
</form>