<div class="contenu">
    <div class="conteneur_bouteilles">
<div>
    <div>
        <input class="form_connexion_input nom_cellier" name="nom" value="{{ cellier.nom }}" placeholder="Nom" aria-label="Nom"><span class="erreur_champ erreur_nom"></span></p>
        <input id="cellier_id" type="hidden" value="{{ cellier.id }}">
        

    </div>
    
    <button class="bouton_supprimer_cellier" name="modifierCellier">Modifier le cellier</button>

</div>
</div>
</div>
