
    <div>
        <input class="form_connexion_input nom_cellier" name="nom" value="{{ cellier.nom }}" placeholder="Nom" aria-label="Nom">
        <p class="erreur_champ erreur_nom"></p>
        <input id="cellier_id" type="hidden" value="{{ cellier.id }}">
        

    </div>
    
    <button class="btn_action" name="modifierCellier">Modifier le cellier</button>

