.carte_bouteille {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 25px;
}

.texte_bouteille{
    display:flex;
    flex-direction:column;
    align-items:right;
    justify-content:center;
}
.image_bouteille{
    display:flex;
    align-items:center;
    justify-content:center;
}
.image_bouteille>img {
    height: 125px;
    width: 65px;
    object-fit: cover;
}

.carte_bouteille_top {
    display: flex;
}

.carte_bouteille_bottom {
    display: flex;
}

.bouteille_gros_texte {
    font-size: 14pt;
    color: #ffffff;
}

.bouteille_petit_texte {
    font-size: 12pt;
    color: #ffffff;
}

.icones_gauche {
    padding: 5px;
    display: flex;
    flex: 1;
    align-items: center;    
}

.icones_gauche>svg {
    
    margin: 10px;
    fill: var(--fonce);
    opacity: 60%;
}

.icones_droite>svg {
    padding: 5px;   
}

.icone_droite {
    padding: 10px;
    display: flex;
    flex: 4;
    align-items: center;
    justify-content: flex-end;
}

.disabled-svg {
    pointer-events: none;
    opacity: 0.5; 
}

.bouteille_rouge {
    background-color: var(--vin-rouge);
}

.bouteille_blanche{
    background-color: var(--vin-blanc);
}

.bouteille_rose{
    background-color: var(--vin-rose);
}