.btn_connexion,
.btn_inscription,
.btn_ajouter_commentaire{
    
    height: 40px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--vin);
    font-size: 16px;
    color: var(--blanc);
    margin-bottom: 20px;
    transition: 0.3s ease-in-out;    
}

.btn_inscription:hover,
.btn_connexion:hover,
.btn_ajouter_commentaire:hover{    
   background-color: var(--vin-hover);
}

.btn_inscription:active,
.btn_connexion:active,
.btn_ajouter_commentaire:active
{    
    background-color: var(--gris-fonce);
}
    