.conteneur_celliers,
.conteneur_bouteilles {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.charte {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carte_cellier {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #4D4545;
    padding: 10px;
    border-radius: 25px;
    flex-grow: 1;
}

.cercle_cellier {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;

}

.bouton_ajout_cellier_top,
.bouton_supprimer_cellier {
    border-radius: 25px;
    padding: 15px;
    background-color: #772743;
    text-align: center;
    border-style: none;
}

.bouton_ajout_cellier_top>a,
.bouton_supprimer_cellier {
    font-size: 14pt;
    color: #ffffff;
    text-decoration: none;
}

.texte_cellier {
    padding: 15px;
}

.chevron_cellier {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.chevron_cellier>a>svg {
    height: 80px;
    width: 80px;
    fill: #ffffff;
}

.cercle_cellier>div {
    height: 80px;
    width: 80px;
    background-color: #ffffff;
    border-radius: 200px;
}

.cellier_gros_texte {
    font-size: 16pt;
    color: #ffffff;
}

.cellier_petit_texte {
    font-size: 12pt;
    color: #ffffff;
}

.cellier_vide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 100%;
    width: 80px;
    color: white;
    aspect-ratio: 1;
    background-color: #3B3333;
}