.container_header {
    display: flex;
    font-family: 'Space Mono', monospace;
    font-size: 18pt;
    color: var(--blanc);
    font-weight: 400;
    min-height: 15vh;
    align-items: center;
    padding: 15px;
    text-align: center;
    background-color: var(--fonce);
    justify-content: center;
}

.container_header_connexion_inscription {
    margin-top: auto;
}

.titre_header {
    flex: 9;
    word-break: break-word;
}

.fleche_header {
    flex: 1;
}