.modale_suppression {
    position: fixed;
    top: 50%;
    left: 50%;
    font-size:16pt;
    color:var(--vin);
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: var(--blanc); 
    padding: 20px;
    border-radius: 20px;
    border-style:none;
  }

 .flex_modale >  div > button {
    height: 40px;
    width: 100%;
    border-radius: 20px;
    font-size: 16px;
    color: var(--blanc);
    margin:15px;
  }

  .OK{
    background-color:var(--erreur-formulaire);
  }
  .KO{
    background-color:var(--vin);
  }
  .flex_modale>p{
    margin:15px;
  }

  .flex_modale{
    display:flex;
    flex-direction:column;
  }

  .flex_modale >div{
    display:flex;
  }