.recherche {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--vin-blanc);
    padding: 20px;
    border-radius: 25px;
}

.filtre_svg  {
    width: 20px;
}

.filtre_pays {
    border: 1px solid white;
    display:  flex;
    padding: 2px;
    margin: 0;
    width: min-content;
    border-radius: 25%;
}

.pays_actifs {
    display: flex;
}