/**************************************************/
/*                RÉINITIALISATION                */
/**************************************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input,
button {
    border-style: none;
}

a {
    text-decoration: none;
}

html {
    /* height: 100%;     */
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    font-family: var(--police-principale);
    color: var(--blanc);
}


main {
    background-color: var(--fonce);
    min-height: 100vh;
    padding: 0 15px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.content_wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

/**************************************************/
/*                     RACINE                     */
/**************************************************/

:root {
    --vin: #772743;
    --vin-hover: #8d3051;    
    --blanc: white;
    --erreur-formulaire: #ff8585;
    --bouton-formulaire-rouge: #da4747;
    --bouton-formulaire-vert: #35802a;
    --fonce: #252525;
    --brun_pale: #4D4545;
    --brun: #3B3333;
    --vert-pale: #ceefc9;
    --beige: #F4D9BC;
    --gris-pale: #919191;
    --gris-fonce: #272222;
    --gris-medium: #252525;
    --police-principale: 'Roboto', sans-serif;
    --police-secondaire: 'Space Mono', monospace;
    --police-secondaire: 'Space Mono', monospace;

    /* Couleurs de pastilles de gout */

    --aromatique-charnu: #660534;
    --aromatique-rond: #B8C0DF;
    --aromatique-souple: #C63439;
    --delicat-leger: #EDF0C1;
    --fruite-doux: #ADD2CB;
    --fruite-extra-doux: #BFDCF5;
    --fuite-genereux: #DE951A;
    --fruite-leger: #E8C4DC;
    --fruite-vif: #FCE329;

    /* Couleurs de types de vin */

    --vin-rouge: #8F4848;
    --vin-rouge-fonce: #653232;
    --vin-rose: #9f606b;
    --vin-rose-fonce: #6d3f48;
    --vin-blanc: #666663;
    --vin-blanc-fonce: #4d4d4a;
}

/**************************************************/
/*                    UTILITAIRES                 */
/**************************************************/

.invisible {
    display: none;
}