<!DOCTYPE html>
<html lang="fr">
	<head>
	
		<title>{{ titre }}</title>

		<meta charset="utf-8">
		<meta http-equiv="cache-control" content="no-cache">
		<meta name="viewport" content="width=device-width, minimum-scale=0.5, initial-scale=1.0, user-scalable=yes">

		<meta name="description" content="Un petit verre de vino">
		<meta name="author" content="Jonathan Martel (jmartel@cmaisonneuve.qc.ca)">

		  
		<link rel="stylesheet" href="./assets/styles/root.css" type="text/css"> 
		<link rel="stylesheet" href="./assets/styles/btn.css" type="text/css"> 
		<link rel="stylesheet" href="./assets/styles/bouteille.css" type="text/css" media="screen">
		<link rel="stylesheet" href="./assets/styles/connexion_inscription.css" type="text/css">    
		<link rel="stylesheet" href="./assets/styles/normalize.css" type="text/css" media="screen">
		<link rel="stylesheet" href="./assets/styles/base_h5bp.css" type="text/css" media="screen">
		<link rel="stylesheet" href="./assets/styles/main.css" type="text/css" media="screen">
		<link rel="stylesheet" href="./assets/styles/header.css" type="text/css" media="screen">
		<link rel="stylesheet" href="./assets/styles/celliers.css" type="text/css" media="screen">
		<link rel="stylesheet" href="./assets/styles/navbar.css" type="text/css" media="screen">
		<link rel="stylesheet" href="./assets/styles/bouteilles.css" type="text/css" media="screen">		
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="./assets/styles/root.css" type="text/css">  
		<script type="module" src="./assets/js/main.js"></script>
	</head>
	<body >
		<div class="container_header">	{% if lien == "" %}{% else %}
			<div class="fleche_header">
				<a href={{lien}}>
					<svg width="35" height="24" viewBox="0 0 35 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.939339 10.9393C0.353554 11.5251 0.353554 12.4749 0.939339 13.0607L10.4853 22.6066C11.0711 23.1924 12.0208 23.1924 12.6066 22.6066C13.1924 22.0208 13.1924 21.0711 12.6066 20.4853L4.12132 12L12.6066 3.51472C13.1924 2.92893 13.1924 1.97919 12.6066 1.3934C12.0208 0.807611 11.0711 0.807611 10.4853 1.3934L0.939339 10.9393ZM35 10.5L2 10.5V13.5L35 13.5V10.5Z" fill="white"/></svg>
				</a>
			</div>
			{%endif%}
			<div class="titre_header">{{ titre }}</div>
		</div>
		<main>

      {{ include(templateMain) }}

		</main>
		<footer>
		<nav role='navigation' class="main-nav" id="main-nav">
  <ul id="main-nav-list">
    <li>
      <a href="accueil">
	  	<div class="container_icones_navbar">
       <svg class="icon"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 32 40" style="enable-background:new 0 0 32 32;" xml:space="preserve"><path d="M19.546875,30h8.4228516c0.5527344,0,1-0.4477539,1-1V13.9155273c0-0.8676758-0.3710938-1.6972656-1.0195312-2.2768555  l-9.9150391-8.8623047C16.875,1.7402344,15.125,1.7407227,13.9648438,2.7768555l-9.9160156,8.8623047  c-0.6474609,0.5791016-1.0185547,1.4086914-1.0185547,2.2763672V29c0,0.5522461,0.4472656,1,1,1h8.4228516  c0.5527344,0,1-0.4477539,1-1v-7.0063477h5.09375V29C18.546875,29.5522461,18.9941406,30,19.546875,30z"/></svg>
        <span>Accueil</span>
        </div>
      </a>
    </li>
    <li>
      <a href="cellier">
	  <div  class="container_icones_navbar">
<svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="-486 257 34.6 125" enable-background="new -486 257 34.6 100" xml:space="preserve"><path d="M-456.6,316.1c0-4.7-1-9.3-2.6-13.7c-0.9-2.5-2-4.9-2.9-7.4c-1.5-4.1-2.3-8.4-2.5-12.9c0-0.8,0-1.6-0.1-2.5l0,0.1  c-0.1-2.3-0.1-4.6-0.1-6.8c0-0.8,0-1.7,0-2.5c0,0,0-0.1,0-0.3c0-0.4,0.2-0.7,0.3-1.1c0-0.2,0.1-0.3,0.1-0.5c0-0.5,0-1,0-1.5  c0-0.3-0.2-0.6-0.3-1c-0.1-0.2-0.1-0.5-0.1-0.7c0-0.4-0.2-0.6-0.5-0.7c-0.4-0.1-1-0.2-1.4-0.2c-1.7,0-2.5,0-4.1,0  c-0.4,0-0.7,0.1-1.1,0.2c-0.4,0.1-0.6,0.3-0.5,0.7c0,0.2,0,0.5-0.1,0.7c-0.1,0.3-0.2,0.6-0.3,1c0,0.5,0,1,0,1.5  c0,0.2,0.1,0.3,0.1,0.5c0.1,0.4,0.3,0.8,0.3,1.2c0,3.2-0.1,6.3-0.2,9.5c0,0.3,0,1.2,0,1.6c-0.1,1.3-0.2,2.7-0.3,4  c-0.6,4.8-1.9,9.4-3.9,13.8c-2.7,5.9-4,12-4,18.4c0,7.6,0,15.3,0,22.9c0,1.8,0.1,3.6,0.2,5.4c0.1,1.5,0.8,2.3,2.2,2.6  c0.3,0.1,0.7,0.1,1,0.2c4.4,0.6,8.7,0.8,13.1,0.5c1.8-0.1,3.6-0.4,5.4-0.6c1.3-0.2,2-0.9,2.2-2.3c0.2-1.2,0.3-2.4,0.3-3.6  C-456.5,333.9-456.5,325-456.6,316.1z"/>
          <span>Mes celliers</span>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
	  <div  class="container_icones_navbar">
      
	
<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 40" x="0px" y="0px"><title>seacrh</title><g data-name="12"><path d="M28.14,26.73l-6.4-6.4A10,10,0,0,0,6.93,6.93a10,10,0,0,0,13.4,14.81l6.4,6.4a1,1,0,0,0,1.41-1.41ZM8.34,19.66a8,8,0,1,1,11.31,0A7.95,7.95,0,0,1,8.34,19.66Z"/></g></svg>
          <span>Recherche</span>
        </div>
      </a>
    </li>
    <li>
<a href="profil">


	  <div class="container_icones_navbar">
        
<svg class="icon" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 36 45" x="0px" y="0px"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><path class="cls-1" d="M18,2A16,16,0,1,0,34,18,16,16,0,0,0,18,2Zm0,5.24a6.19,6.19,0,1,1-6.18,6.19A6.19,6.19,0,0,1,18,7.24Zm8.09,19.82a1.15,1.15,0,0,1-1.49-.64,5.23,5.23,0,0,0-4.89-3.31H16.29a5.24,5.24,0,0,0-4.89,3.31,1.14,1.14,0,0,1-1.06.72,1.06,1.06,0,0,1-.43-.08,1.14,1.14,0,0,1-.64-1.48,7.54,7.54,0,0,1,7-4.76h3.42a7.51,7.51,0,0,1,7,4.76A1.13,1.13,0,0,1,26.09,27.06Z"/><path class="cls-1" d="M18,17.33a3.9,3.9,0,1,0-3.9-3.9A3.91,3.91,0,0,0,18,17.33Z"/></svg>
       
          <span>Profil</span>
        </div>
      </a>
    </li>
  </ul>
</nav>

		</footer>
	</body>

</html>