<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>{{ titre }}</title>

		<meta charset="utf-8">
		<meta http-equiv="cache-control" content="no-cache">
		<meta name="viewport" content="width=device-width, minimum-scale=0.5, initial-scale=1.0, user-scalable=yes">		

		
		<link rel="stylesheet" href="./assets/styles/root.css" type="text/css">       
        <link rel="stylesheet" href="./assets/styles/btn.css" type="text/css"> 
        <link rel="stylesheet" href="./assets/styles/inputs_forms.css" type="text/css">      
		<link rel="stylesheet" href="./assets/styles/header.css" type="text/css">      

		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">

		<script type="module" src="./assets/js/main.js"></script>
	</head>
	<body >       

		<main>
     
					<div class="container_header container_header_connexion_inscription"
                    <div class="titre_header_connexion_inscription"><p>{{ titre }}</p></div>
					</div>
                    {{ include(templateMain) }}
               
            
		</main>
		
	</body>

</html>