<!-- Template Connexion -->


<section>

	<form name="frmConnexion" method="POST" action="connexion">

		<br><span id="messageErreurConnexion">&nbsp;{{ messageErreurConnexion }}</span>

		<label>Courriel</label>
		<input name="courriel" value="">

		<label>Mot de passe</label>
		<input type="password" name="mdp" value="">

		<input type="submit" value="Se connecter">

	</form>
</section>
<!-- fin template Connexion -->
