<!-- Template Connexion -->



<form
	class="form_connexion" name="frmConnexion" method="POST" action="connexion">

	 {% if erreurs.connexion == "" %}{% else %}<div class="error">
	<span>{{ erreurs.connexion }}</span>
</div>{% endif %}



	<!-- Champ courriel -->

	<div class="form_champ_connexion">
	<label for="courriel">Courriel :</label>
	<input class="form_connexion_input" aria-label="Courriel" type="email" id="courriel" placeholder="p. ex. JohnDoe@gmail.com" name="courriel" value="">
	</div>

	<!-- Champ mot de passe -->

	<div class="form_champ_connexion">
	<label for="mdp">Mot de passe :</label>
<input class="form_connexion_input" minlength="10" aria-label="Mot de passe" type="password" id="mdp" placeholder="p. ex. Chat12345!" name="mdp" value="">
	</div>
	
	<a href="">Mot de passe oublié ?</a>

	<input class="btn btn_connexion" type="submit" value="Se connecter">

	<div class="option_alternative">
		<span>Vous n’avez pas de compte ?
			<a href="inscription">S'inscrire</a>
		</span>
	</div>
</form>

<!-- fin template Connexion -->
