<!-- Template Connexion -->				

<form class="form_connexion" name="frmConnexion" method="POST" {% if actionUri %} action="{{ actionUri }}" {% endif %}>

	<br><span id="messageErreurConnexion">&nbsp;{{ messageErreurConnexion }}</span>	

	<!-- Champ courriel -->	
	<input class="form_connexion_input" aria-label="Courriel" type="email" id="courriel" placeholder="Courriel" name="courriel" value="">
	<div class="error">
        <span>{{ erreurs.courriel }}</span>
    </div>		

	<!-- Champ mot de passe -->	
	<input class="form_connexion_input" aria-label="Mot de passe" type="password" id="mdp" placeholder="Mot de passe" name="mdp" value="">
    <div class="error">
        <span>{{ erreurs.mdp }}</span>
    </div>

	<a href="">Mot de passe oublié?</a>	

	<input class="btn btn_connexion" type="submit" value="Se connecter">

	<div class="option_alternative">
		<span>Vous n’avez pas de compte?
			<a href="inscription">S'inscrire</a>
		</span>                            
	</div>
</form>

<!-- fin template Connexion -->
